*{
  padding: 0;
  margin: 0;
  line-height: 1.7;
  font-family: 'Raleway', sans-serif;
}
/*оранджевый #f57500
/e5e5e5*/
body, html{
  height: 100%;
}
.home-header{
  background: #252525;
  height: 100%;
  color: #fff;
}
.top-line{
  width: 100%;
  position: absolute;
  height: 63px;
  top: 0;
  border-bottom:  1px solid rgb(255, 255, 255, 0.1);
  z-index: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  display: flex;
  align-items: center;
}
.logo img{
  height: 70px;
  width: 70px;
}
.logo_text{
  color: #fff;
  font-size: 13px;
  font-weight: 500;
letter-spacing: .5em;
}
.top-line a{
  color: white;
  text-decoration: none;
}
.top-line_decoration{
  padding: 0px 50px;
}
.top-line_decoration-conteiner{
  display: flex;
}
.menu-button-container{
  margin-left: 200px;
}




























/* ----media---- */
@media screen and (max-width: 978px){

}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 420px){

}
